$path: '../fonts/plex-mono/';
$font-family: 'Plex Mono';

// normal

@font-face {
    font-family: $font-family;
    src: url('#{$path}thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url('#{$path}extra-light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url('#{$path}light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url('#{$path}regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url('#{$path}medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url('#{$path}semi-bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url('#{$path}bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// italic

@font-face {
    font-family: $font-family;
    src: url('#{$path}italic-thin.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url('#{$path}italic-extra-light.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url('#{$path}italic-light.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url('#{$path}italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url('#{$path}italic-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url('#{$path}italic-semi-bold.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: $font-family;
    src: url('#{$path}italic-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}


