@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../fonts/plex-mono/font.scss';
@import '../fonts/plex-sans/font.scss';
@import '../fonts/icons/font.scss';
@import './glitch.scss';
@import './background.scss';
@import './navbar.scss';
@import './button.scss';
@import './burger.scss';
@import './mouse.scss';

@layer base {
  p, a {
    @apply leading-8;
    font-family: theme('fontFamily.mono');
    color: theme('colors.lightgray');
  }

  h1, h2  {
    @apply font-bold uppercase;
    font-family: theme('fontFamily.sans');
    color: theme('colors.white');
  }

	h3, h4, h5, h6 {
		@apply font-medium;
		font-family: theme('fontFamily.sans');
		color: theme('colors.white');
	}
}

h1 { @apply text-4xl md:text-5xl lg:text-7xl; }
h2 { @apply text-3xl md:text-4xl lg:text-6xl; }
h3 { @apply md:text-3xl; }
h4 { @apply md:text-xl; }

body {
  background: linear-gradient(0deg, #090C11 1%, #090C11 100%);

	// lg
	@media (min-width: 1024px) {
		background:
			// -85% 23% / 144% no-repeat url('../svg/light.svg'),
			-68vw 40% / 104% no-repeat url('../svg/light.svg'),
			-80vw 112% / 144% no-repeat url('../svg/light.svg'),
			linear-gradient(0deg, #090C11 1%, #090C11 100%);
	}
}

.transparent-box {
	@apply px-8 py-4 bg-gray-500/20 rounded-xl shadow-2xl;
	backdrop-filter: blur(9px) brightness(60%);
}

#showcase-section {
	// lg
	@media (min-width: 1024px) {
		background: -100px 27% / 40% no-repeat url('../svg/title-decoration.svg');
	}
}

#collect-help-section {
	// lg
	@media (min-width: 1024px) {
		background: 106% 27% / 40% no-repeat url('../svg/title-decoration.svg');
	}
}

#accordion-section {
	// lg
	@media (min-width: 1024px) {
		background: -100px 3% / 40% no-repeat url('../svg/title-decoration.svg');
	}
}

#team-section {
	// lg
	@media (min-width: 1024px) {
		background: -100px 6% / 40% no-repeat url('../svg/title-decoration.svg');
	}
}

#partners-sponsors-section {
	// lg
	@media (min-width: 1024px) {
		background: -100px 0% / 40% no-repeat url('../svg/title-decoration.svg');
	}
}